@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, 
dark;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* prevents horizontal scroll */
  font-family: 'Roboto', sans-serif;
}
