@import "tailwindcss";

/* DaisyUI */
@plugin "daisyui" {
  themes: night --default, valentine;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
/* bottom navar */
@media (min-width: 768px) {
  .desktop-nav-center {
    justify-content: center !important;
    gap: 10rem;
  }
}